<tr>
    <td><%= link_to book.title, book_path(book) %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Remove', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
</tr>